* { 
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: #FF9A69;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    color: #fffff7;
    justify-content: space-around;
    flex-flow: row wrap;
}

.Pesquisar {
    display: flex;
    align-items: left;
    width: 300px;
    padding: 10px;
    border: solid 1px #D9DCD6;
    border-radius: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    flex-flow: row wrap;
}