* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: #3C4E69;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    color: #fffff7;
    justify-content: space-around;
    flex-flow: row wrap;
}

.Login {

    color: beige;
}

.Logo {
    margin-top: 3px;
    background-color: #fbf5ef;
    width: 90px;
    border-radius: 50px;
    border-radius: 60px;
    justify-content: start;

}

.itens-home {
    list-style-type: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.linksHome {
    font-size: 19px;
    margin: 3px;
    color: #fffff7;
    text-decoration: none;
    flex-flow: row wrap;

}

.form button {
    border: none;
    background: none;
    color: #8b8ba7;
}

.form {
    --timing: 0.3s;
    --width-of-input: 500px;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: #fff;
    --border-color: #2f2ee9;
    --border-radius: 30px;
    --after-border-radius: 1px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg, #fff);
}

.input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
}

.form:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
}

.form:focus-within {
    border-radius: var(--after-border-radius);
}

input:focus {
    outline: none;
}

.form:focus-within:before {
    transform: scale(1);
}

.reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
}

input:not(:placeholder-shown)~.reset {
    opacity: 1;
    visibility: visible;
}

.form svg {
    width: 17px;
    margin-top: 3px;
}

main {
    /* display: flex;
flex-direction: row;
justify-content: space-between; */
}



.itens {
    margin-right: 50px;
}

.itens4 {
    margin-right: 50px;
    color: gray;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8BA4D5;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


/* Perfil Usuario */

#ImagemPerfil {
    width: 100px;
    border-radius: 150px;
    border: 2px solid black
}

#NomePerfil {

    font-size: 20px;
    padding: 8px;
    margin-bottom: 7px;

}

/* Resumo */
.resumo {
    display: flex;
}

.Apelido {
    font-size: 15px;
    text-align: center;
    height: 30px;
    width: 300px;
    border-radius: 20px;
    border: 0.2px solid black;
}

.Bio {
    font-size: 10px;
    text-align: center;
    height: 30px;
    width: 300px;
    margin-top: 20px;
    border: 1px solid black;
}

.redes {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.insta,
.twitter,
.face {
    width: 30px;
    display: flex;
    justify-content: space-between;
}

.buttonadd {
    border: none;
    background-color: #fff;
}

.add {
    display: flex;
    flex-direction: column;


}

.imgadd {
    width: 30px;

}

.img-config {
    width: 30px;
    height: 30px;
}

.div-itens-config {
    
    display: flex;
    justify-content: center;

}

#container_perfil {
    background-color: #F5F5F5;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-align: center;
    margin-top: 30px;


}

/*.div-seguir {
    display: flex;
    align-items: center;
    justify-content: center;

}

 .btn-seguir {
    width: 100px;
    height: 25px;
    border-radius: 10px;
    border-color: #8BA4D5;
    background-color: #8BA4D5;
    margin-right: 10px;
}

.btn-mensagem {
    width: 120px;
    height: 25px;
    border-radius: 10px;
    border-color: #8BA4D5;
    background-color: #8BA4D5;
    margin-right: 10px;
} */

.container-obj {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-img{
    display: flex;
    justify-content: left;
}

.div-seguidores {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    align-items: center;

}

.container-btns {
    display: flex;
    width: 40%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.BtnEditar {
    display: flex;
    width: 200px;
    height: 40px;
    border: none;
    background-color: #8BA4D5;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.BtnCompartilhar {
    display: flex;
    width: 200px;
    height: 40px;
    border: none;
    background-color: #8BA4D5;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}



/* notificações */
nav {
    display: flex;
    align-items: center;
    background: none;
    height: 60px;
    position: relative;
}

.notifi-box {
    width: 300px;
    height: 0px;
    opacity: 0;
    position: absolute;
    top: 63px;
    right: 35px;
    transition: 1s opacity, 250ms height;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.notifi-box h2 {
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    background-color: #3C4E69;
    color: #999;
}

.notifi-box h2 span {
    color: #f00;
}

.notifi-item {
    display: flex;
    border-bottom: 1px solid #eee;
    background-color: #F5F5F5;
    padding: 15px 5px;
    margin-bottom: 15px;
    cursor: pointer;
}

.notifi-item:hover {
    background-color: #eee;
}

.notifi-item img {
    display: block;
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.notifi-item .text h4 {
    color: #777;
    font-size: 16px;
    margin-top: 10px;
}

.notifi-item .text p {
    color: #aaa;
    font-size: 12px;
}

.img-not {

    max-height: 70px;
}

/* fim notificações css */
#configMenu {
    position: absolute;
    background-color: #3C4E69;
    display: none;
    /* Inicialmente oculto */
    z-index: 1;
}

#configMenu li {
    border-top: 1px solid #6c757d;
}

#configMenu a {
    padding: 10px 15px;
    color: white;
}

#configMenu a:hover {
    background-color: #6c757d;
}

.sla {
    background-color: #eee;
    border-top: 1px solid;
    border-color: #999;
}

#perfil_funcoes {
    background-color: #F5F5F5;

}

#perfil_funcoes li {
    color: #111;
}